html, body {
  height: 100%;
  width: 100%;
}
.container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
justify-content: center;


}
.addtocartimg{
  width: auto;
  height : 88% ;
}
  .horizontal-card {
    display: flex;
     border : 2px solid #e1e0e0 ;
    width: 100%;
   max-width : 27rem ;
  height: 12em;
    border-radius : 0.8rem ;
     box-shadow: 0px 0px 10px #c3d2ff;
     margin-bottom: 1rem;
     margin-right: 2rem;
     position: relative;
     margin-top: 6rem;
  
  }

.price {
  font-size : 1.3rem ;
}
.place-order-btn {
  display: flex;
  justify-content: center;
  height : 1.5rem ;
    margin-bottom: 11%;
    margin-top: 2%;
}
.cart {
  color : white ;
  border-radius: 0.4rem;
   background:blue; 
  border : 2px solid blue;
  height : 2rem ;
  margin-bottom : 1rem ;
  margin-top: 0.5rem;

}
.wishlist-btn{
  margin-right: 1rem;
  color : white ;
  border-radius: 0.4rem;
   background:#7c7b7b; 
  border : 2px solid #7c7b7b;
  height : 2rem ;
  margin-bottom : 1rem ;
  margin-top: 0.5rem;

}

.badge {
  position: absolute;
  right: 0.2rem;
  top: 1rem;
height : 1rem ;
width : 3rem ;
cursor : pointer ;
color: black;
}
  
  @media (max-width :331px){
    .card{
  height : 16rem ;
    }
    .place-order-btn {
 height : 1.9rem ;
}
    img {
      height : 12rem ;
    }
  }
  